<p style="color: green"><%= notice %></p>

<h1>Friends List</h1>

<%#
<div id="friends">
  <% @friends.each do |friend| %>
  <%# <%= render friend 
    <p>
      <%= link_to "Show this friend", friend %>
    <%# </p>
  <% end %>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Occupation</th>
    </tr>
    
  </thead>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.first_name %></td>
        <td><%= friend.last_name %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.occupation %></td>
      </tr>
    <% end %>
  <tbody>
    
  </tbody>

</table>

<%= link_to "New friend", new_friend_path %>
