<div class="jumbotron">
  <h1 class="display-4"><%= @friend.first_name %> <%= @friend.last_name %></h1>

  <p class="lead">
    <%= @friend.occupation %> <br />
    <%= @friend.email %> |
    <%= @friend.phone %>
  </p>
  <br/>
  
  <div>
    <%= link_to "Edit", edit_friend_path(@friend), class:'btn btn-secondary' %>
    <%= link_to "Back", friends_path, class:'btn btn-dark' %>
    <%= button_to "Delete this friend", @friend, method: :delete, class: 'btn btn-danger mt-2' %>
  </div>
</div>

<%#<%= render @friend %>


